.App {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.example {
  width: 500;
  padding: 0 20px 10px;
  margin-bottom: 20px;
  background: #fdfdf;
  border: 1px solid #ddd;
}


.example-title {
  font-style: italic;
  padding: 5px;
  margin: 0 -20px;
  background: #ddd;

}
